@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexCol {
    @apply flex flex-col items-center justify-center;
  }

  .custom-gradient {
    background: linear-gradient(
        229deg,
        rgba(158, 255, 0, 0.2) -68.25%,
        rgba(158, 255, 0, 0) 32.16%
      ),
      linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0) 100%);
  }

  
  .collapsible {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }

  .collapsibleOpen {
    max-height: 500px; /* Adjust this value based on your content */
  }

  .borderB{
    @apply border-solid border-b-[1px] border-grayTwo
  }
}
